@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
    .btn-primary {
        @apply rounded-md border-2 border-cyan-400 bg-cyan-400 px-4 py-2 text-sm text-white transition-colors duration-300 hover:bg-cyan-400/80;
    }
    .btn-outline {
        @apply rounded-md border-2 border-white px-4 py-2 text-sm text-white transition-colors duration-300;
    }
    .button-square {
        @apply w-[50px] h-[50px] p-2 border-[1px] border-slate-300 rounded-b-md bg-gray-200 dark:bg-gray-900;
    }
}